.bill-detail { 
  padding: 0 30px;
  h3 {
    text-align: center;
  }
  h4 {
    margin: 20px 0 0 !important;
    float: right;
     span {
      margin-left: 20px;
     }
  }
  table {
    width: 100%;
    th, td {
      border: 1px solid #ccc;
      text-align: center;
    }
    td.id {
      width: 5%;
    }
    td.service-name {
      width: 40%;
    }
    td.fee, td.unit, td.flat-num{
      width: 20%;
    } 
    td.amount, td.isPaid {
      width: 15%;
    }
  } 
  button {
    margin-top: 20px;
    width: 100%;
  }
}