.bill-detail { 
  padding: 0 30px;
  button#add-bill {
    float: right;
    padding: 4px 15px;
    outline: none;
  }
  .payment-title {
    width: 60%;
    margin: 15px auto;
    clear: both;
    overflow: hidden;
    .pre-month, .next-month {
      float: left;
      padding: 0 7px;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 4px;
      color: #27aae1;
    }
    h3 {
      margin: 0 10px;
      float: left;
    }
  }
  form.tool {
    overflow: hidden;
    .sort-by {
      float: right;
      margin: 0 10px;
      padding: 4px 15px;
      border: 1px solid #ccc;
      border-radius: 15px;
    }
    .form-group {
      float: right;
      input {
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 0 15px;
      }
    }
  }
  h4 {
    margin: 20px 0 0 !important;
    float: right;
     span {
      margin-left: 20px;
     }
  }
  table {
    width: 100%;
    th, td {
      border: 1px solid #ccc;
      text-align: center;
    }
    td.id {
      width: 5%;
    }
    td.service-name {
      width: 40%;
    }
    td.fee, td.unit, td.flat-num{
      width: 20%;
    } 
    td.amount, td.isPaid {
      width: 15%;
    }
  } 
  button#pay {
    margin-top: 20px;
    width: 100%;
  }
}
.pagi-block {
  margin-top: 10px;
  text-align: center;
}