.bill-detail { 
  padding: 0 30px;
  h4.payment-detail {
    margin: 10px 0 !important;
  }
  button#add-bill {
    float: right;
    padding: 4px 15px;
    outline: none;
  }
  .payment-title {
    width: 60%;
    margin: 15px auto;
    clear: both;
    overflow: hidden;
    .pre-month, .next-month {
      outline: none;
      float: left;
      padding: 0 7px;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 4px;
      color: #27aae1;
      &:hover {
        color: #fff;
        background-color: #337ab7;
      }
    }
    h3 {
      margin: 0 10px;
      float: left;
    }
  }
  form.tool {
    overflow: hidden;
    .sort-by {
      float: right;
      margin: 0 10px;
      padding: 4px 15px;
      border: 1px solid #ccc;
      border-radius: 15px;
      outline: none;
    }
    .form-group {
      float: right;
      input {
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 0 15px;
        outline: none;
      }
    }
  }
  h4#total {
    margin: 10px 0 0 !important;
    float: right;
     span {
      margin-left: 20px;
     }
  }
  h4.payment-detail {
    float: left;
  }
  .edit-bill {
    float: right;
    text-decoration: underline;
    color: #27aae1;
    margin: 15px 0;
    cursor: pointer;
  }
  table {
    clear: both;
    margin-top: 20px;
    width: 100%;
    th, td {
      border: 1px solid #ccc;
      text-align: center;
    }
    td.id {
      width: 5%;
    }
    td.service-name {
      width: 40%;
    }
    td.fee, td.unit, td.flat-num{
      width: 20%;
    } 
    td.amount, td.isPaid {
      width: 15%;
    }
  } 
  button#pay {
    margin-top: 20px;
    width: 100%;
  }
}
.pagi-block {
  margin-top: 10px;
  text-align: center;
}

.checkout, .add-bill-detail {
  position: relative;
  padding: 0 30px;
  h3.grey {
    text-align: center;
  }
  .cancel {
    position: absolute;
    right: 30px;
    top: 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    &:hover{
      background-color: #27aae1;
      color: #fff;
      border-color: #27aae1; 
    }
  }
  .add-service {
    position: absolute;
    left: 30px;
    top: 0;
    padding: 0 10px;
    border-radius: 4px;
  }
  .line-divide {
    border: 1px solid #ccc;
    margin: 35px 35px 15px;
  }
  .add-bill-form {
    border: 1px dashed #ccc;
    padding: 5px 10px;
    span {
      margin-left: 10px;
    }
    &:hover{
      cursor: pointer;
    }
  }
  form {
    clear: both;
    .service-item {
      .form-group {
        clear: both;
      }
    }
    .delete-service-item {
      background-color: #fff;
      margin-bottom: 15px;
      padding: 0 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      &:hover{
        background-color: #27aae1;
        color: #fff;
        border-color: #27aae1; 
      }
    }
  }
  label {
    display: inline-block;
    width: 30%;
    margin-bottom: 5px;
    font-weight: 700;
  }
  input.form-control, select.form-control {
    float: right;
    width: 70% !important;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button.btn#add {
    width: 100%;
    outline: none;
    margin: 10px 0;
    padding: 10px 25px;
  }
  .icon-container {
    width: 70%;
    float: right;
    font-size: 35px;
    .fa {
      padding: 0 10px;
    }
    .fa-cc-visa {
      color: #00007f;
    }
    .fa-cc-amex {
      color: #0000ff;
    }
    .fa-cc-mastercard {
      color: #ff0000;
    }
    .fa-cc-discover {
      color: #ffa500;
    }
  }
}

.add-bill-detail {
  .popup {
    h3 {
      text-align: center;
    }
  }
}

.payment-button {
  clear: both;
  text-align: center !important;
  margin-top: 40px;
  .StripeCheckout {
    width: 100%;
    background: none !important;
    border-radius: 30px !important;
    box-shadow: none !important;
    outline: none;
  }
  span {
    height: 35px !important;
    background-image: none !important;
    background-color: #27aae1 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    border-radius: 30px !important;
    padding: 2px !important;
  }
}