#show-emoji-no {
  position: absolute;
  top: 15%;
  right: 82px;
  font-size: 25px;
  width: 30px;
  z-index: 1;
}

#show-emoji-no:hover {
  font-size: 28px;
  transition-duration: 10ms;
}

#show-emoji-yes {
  position: absolute;
  top: 15%;
  right: 82px;
  font-size: 20px;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
}

.emoji-table {
  position: absolute;
  bottom: 30px;
  right: 82px;
}

$padding_emoji: 20px;
$size_emoji: 25px;
@import './node_modules/emoji-picker-react/dist/universal/style.scss';

