.post-container {
  clear: both;
}
.post-detail {
  position: relative;
  .author-info {
    float: left;
    h5#author-name {
      margin: 15px 0;     
    }
  }
  .event-image {
    padding: 20px 0 0;
    clear: both;
    width: 100%
  }
  .reaction {
    .attending {
      background-color: #8dc63f !important;
      color: #fff !important;
    }
    #attendent {
      border: 1px solid #ccc;
      background-color: #f8f8f8;
      color: #8dc63f;
      margin: 10px;
    }
  }
  .event-text {
    overflow: hidden;
    h3.desc {
      position: absolute;
      bottom: 15%;
      left: 2%;
      margin: 20px;
    }
    h4.cost {
      float: left;
      margin: 20px 0 0;
    }
    h4.date {
      float: right;
      margin: 20px 0 0;
    }
  }
}