.post-container {
  clear: both;
}
.post-detail {
  position: relative;
  .dropdown {
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #8dc63f;
    margin: 10px 0;
    float: right;
    .dropdown-toggle {
      padding: 3px;
      cursor: pointer;
    }
    .dropdown-menu {
      float:  !important;
      display: block !important;
      li {
        list-style-image: none;
        a {
          &:hover {
            color: #8dc63f;
          } 
        }
      }
    }
  }
  .author-info {
    float: left;
    h5#author-name {
      margin: 15px 0;     
    }
  }
  .event-image {
    padding: 20px 0 0;
    clear: both;
    width: 100%
  }
  .reaction {
    float: right;
    position: relative !important;
    margin: 0 10px !important;
    .attending {
      background-color: #8dc63f !important;
      color: #fff !important;
    }
    #attendent {
      border: 1px solid #ccc;
      background-color: #f8f8f8;
      color: #8dc63f;
      margin: 10px;
    }
  }
  .event-text {
    overflow: hidden;
    h3.name {
      position: absolute;
      bottom: 15%;
      left: 2%;
      margin: 20px;
      font-weight: bold;
    }
    h4.cost {
      float: left;
      margin: 20px 0 0;
    }
    h4.date {
      float: right;
      margin: 20px 0 0;
    }
  }
}
