.chat-room {
  position: relative;
  .row {
    margin-right: -10px;
    margin-left: -10px;
    .scroll-wrapper {
      position: relative;
    }
    ul.contact-list {
      height: auto;
      margin-bottom: 0px;
      margin-right: 0px;
      height: 500px;
      overflow-y: scroll;
      overflow-x: hidden;
      li {
        width: 100%;
        margin-bottom: 0;
        a {
          border: none;
          padding: 10px 0 25px;
          border-bottom: 1px solid #f1f2f2 !important;
          .contact {
            margin-left: 10px;
            margin-right: 10px;
            img.profile-photo-sm {
              height: 40px;
              width: 40px;
              border-radius: 50%;
            }
            .msg-preview {
              margin-left: 50px;
              small {
                position: absolute;
                top: 10px;
                right: 10px;
              }
              i {
                font-size: 20px;
              }
              .chat-alert {
                background: red;
                text-align: center;
                border-radius: 4px;
                padding: 1px 6px;
                position: absolute;
                right: 10px;
                bottom: 20px;
                color: #fff;
              }
              .seen {
                color: #939598;
                position: absolute;
                right: 10px;
                bottom: 20px;
                font-size: 14px;
              }
              .replied {
                color: #939598;
                position: absolute;
                right: 10px;
                bottom: 20px;
                font-size: 14px;
              }
            }
          }
        }
        a.active {
          background-color: #ccc;
        }
      }
    }
  }
  .tab-content {
    height: auto;
    margin-bottom: 0px;
    margin-right: 0px;
    .tab-pane {
      height: 500px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    ul.chat-message {
      padding: 0;
      margin: 0;
      li.left {
        list-style: none;
        margin-bottom: 20px;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
        .chat-item {
          background: rgba(141, 198, 63, .1);
          margin-left: 50px;
          padding: 5px 10px;
          position: relative;
          border-radius: 10px;
          &:before {
            border-bottom: 10px solid transparent;
            border-right: 8px solid rgba(141, 198, 63, .1);
            border-top: 10px solid transparent;
            content: "";
            height: 0;
            left: -8px;
            position: absolute;
            top: 10px;
            width: 0;
          }
          .chat-item-header {
            border-bottom: 1px dotted #caef8e;
            margin-bottom: 10px;
            h5 {
              color: #4d4d4d;
            }
            small {
              position: absolute;
              top: 5px;
              right: 20px;
            }
          }
          p {
            margin: 0 0 10px;
          }
          img.message-img {
            width: 50%;
            height: 50%;
            border-radius: 0;
            padding-bottom: 10px;
          }
        }
      }
      li.right {
        list-style: none;
        margin-bottom: 20px;
        .chat-item {
          background: rgba(39, 170, 225, .1);
          margin-right: 50px;
          padding: 5px 10px;
          position: relative;
          border-radius: 10px;
          &:before {
            border-bottom: 10px solid transparent;
            border-right: 8px solid rgba(141, 198, 63, .1);
            border-top: 10px solid transparent;
            content: "";
            height: 0;
            left: -8px;
            position: absolute;
            top: 10px;
            width: 0;
          }
          .chat-item-header {
            border-bottom: 1px dotted #caef8e;
            margin-bottom: 10px;
            h5 {
              color: #4d4d4d;
            }
            small {
              position: absolute;
              top: 5px;
              right: 20px;
            }
          }
          p {
            margin: 0 0 10px;
          }
          img.message-img {
            width: 50%;
            height: 50%;
            border-radius: 0;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
  .send-message {
    margin: 30px 0;
    .input-group {
      position: relative;
      #message-img {
        display: none;
      }
      #upload-file {
        position: absolute;
        top: 15%;
        right: 115px;
        font-size: 20px;
        z-index: 1;
        &:hover {
          cursor: pointer;
        }
      }
      .form-control {
        border: 1px solid #ccc;
        padding-right: 30px;
        z-index: 0;
      }
      .btn.btn-primary {
        border-radius: 0 5px 5px 0 !important;
      }
    }
  }
}