.post-container {
  clear: both;
}
.post-detail {
  position: relative;
  .seller-info {
    float: left;
    h5#seller-name {
      margin: 15px 0;     
    }
  }
  .sellingItem-image {
    padding: 20px 0 0;
  }
  .reaction {
    .chat-online {
      background-color: #8dc63f !important;
      color: #fff !important;
    }
  }
  .desc {
    clear: both;
    margin: 0;
  }
  .selling-text {
    overflow: hidden;
    h4.name {
      float: left;
      margin: 25px 0 0;
      font-weight: bold;
    }
    h4.price {
      float: right;
      font-weight: bold;
      margin: 20px 0 0;
      padding: 10px;
      border: 1px solid #8dc63f;
      border-radius: 4px;
      color: #8dc63f !important;
    }
  }
}